<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <link rel="stylesheet" href="student_home.css">
    <style>
        .upcoming-quizzes {
            width: 60%; /* Increased width */
        }
        .group-section {
            width: 39.5%; /* Increased width */
        }
        .quiz-details p {
            margin: 0;
            font-size: 8px; /* Smaller font size */
        }
    </style>
</head>
<body>
    <header>
        <div class="user-info">
            <p>Name: <%= name %></p>
            <p>Email: <%= email %></p>
        </div>
        <div class="join-section">
            <input type="text" id="course-code" placeholder="Enter Course Code">
            <button id="join-button">Join</button>
        </div>
    </header>

    <main>
        <div class="group-section">
            <h2>My Groups</h2>
            <ul>
                <% gc.forEach(group => { %>
                    <li>
                        <a href="/groups/<%= group.id %>"><%= group %></a>
                    </li>
                <% }); %>
            </ul>
        </div>

        <div class="upcoming-quizzes">
            <h2>Upcoming Quizzes</h2>
            <div class="quiz-list">
                <% quizzes.forEach(quiz => { %>
                    <div class="quiz-details">
                        <a href="/quizzes/<%= quiz.id %>">
                            <p><strong>Name:</strong> <%= quiz.title %> | <strong>Start Time:</strong> <%= quiz.startDate %> | <strong>End Time:</strong> <%= quiz.endDate %> | <strong>Duration:</strong> <%= quiz.time %> minutes</p>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </main>

    <script></script>
</body>
</html>